nav * {
  color: white;
}
:root {
  --backgroundColor: rgb(244, 244, 244);
  --fontColor: black;
}

.deployEventArrow,
#dividerModeradores1,
#dividerModeradores2,
.swcDivider img,
.undertitle,
#submitButton,
.contact {
  filter: invert();
}

.eventNav ul li{
  color: white;
  background-color: black;
}

.directiva a div {
  border: solid 0.8vw black;
}

#firmaManuelRamos {
  filter: none;
}
